html {
    height: 100%;
}

.header                            /* Style CSS du header pour avoir le titre en police correcte */
{ 
    margin-top : 5%;
    font-size : 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;             
    font-weight : Bold;
    color : white;
}

body                                /* Style CSS du corps en no-repeat pour aficher le gradient (fondu) de couleur en une seule fois en mode nuit */ 
{
    background-color : rgba(25, 140, 255, 0.725);
    justify-content : center;
    margin-bottom : 10%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button                              /* Style CSS du bouton submit */
{
    border-radius : 2%;
    background-color: rgb(25, 136, 170);
    padding-left : 5%;
    padding-right : 5%;
    color : white; 
    font-weight : thin; 
    border-color :rgb(25, 136, 170)
}

@media (max-width : 750px)          /* Style CSS modifie pour integrer des espaces entre les elements de l'envoi lors de la reduction fenetre */ 
{.envoi {
    font-size : 50px;
    margin-top : 20px;              /* Bouton */
    margin-left : 10px;                
    margin-right : 10px;
}
 #NombreJours {                             
     margin-top : 20px;             /* Selecteur */
 }
}

.envoi                              /* Style CSS de la classe du bouton */
{
    font-size : 35px;
    font-family : 'Arial';
    border-radius :10px;
}

.soumission                         /* Style CSS des donnees du formulaire soumis a l'envoi */
{
    margin-top : 5%;
    display : flex;
    flex-wrap : wrap;
    flex-direction : row;
    justify-content : center;
    border-color : rgb(22, 172, 218);
}                  

.resultat{                          /* Style CSS d'un element des resultats meteo */
    margin-left : 2%;
    margin-right : 2%;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align : center;
    font-size : 30px;
    font-weight : bold;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width : 180px;
}

.recherche {                        /* Style CSS de la barre de recherche */
    font-size : 30px;
    margin-left : 10px;
    color : black;
}

#resultats {                        /* Style CSS de la section qui affiche la meteo des jours */
    align-items: center;
    justify-content: center;
    display : flex;
    flex-wrap : wrap;
    flex-direction : row;
    margin-top : 5% ;
}

#NombreJours {                      /* Style CSS du selecteur de jours */
    margin-left : 30px;
    margin-right : 30px;
    font-size : 20px; 
    padding-right : 5px;
    padding-left : 5px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.envoi:hover {                      /* Quand on passe au dessus du bouton, il devient plus clair */
    background-color: rgb(72, 175, 235);}